# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# User-specific stuff:
.idea/workspace.xml
.idea/vcs.xml

# Gradle:
.idea/gradle.xml

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/
